.index{
	.videoBg{
  	position        : fixed; 
  	right           : 0;
  	bottom          : 0;
		min-width       : 100%; 
		min-height      : 100%;
		width           : auto; 
		height          : auto; 
		z-index         : -100;
		background-size : cover;
	}
	.content{
		margin-top : 30px; 
		.logo{
			img{
				width   : 250px;
				display : block; 
				margin  : 0 auto; 
			}
		}
		.login{
			width  : 280px;
			margin : 130px auto 0 auto; 
			.tatz-8{
				.vin{
					background-color : rgba(0,0,0,0); 
					border           : none;
					width            : 220px;
					height           : 40px;
					margin-top       : 20px;  
					border-bottom    : 1px solid getColor(snow); 
				}
			}
		}
	}
}