@import "font-awesome/font-awesome";

@import "compass";
@import "compass/reset";

// Configuration files.
@import "config/theme";

// Configuration files.
@import "modules/function";
@import "modules/tatzgrid";
@import "modules/positions";
@import "modules/spacing";
@import "modules/text";

@import "layout/index";
@import "layout/home";
@import "layout/busqueda";
@import "layout/accesorio";
@import "layout/hist";

*:focus { outline: none }


/* Space out content a bit */
body {
  padding : 0;
}

.header{
  .cont{
    background-color   : getColor(snow);
    -webkit-box-shadow : 1px 1px 10px 2px rgba(0,0,0,0.5);
    height             : 60px;
    position           : absolute;
    z-index            : 100;

    .logo-head{
      width   : 140px;
      margin  : 0 auto;
      img{
        width   : getPorcentual(ten);
      }
    }
  }
  .back{
    margin : -40px 20px;
    color  : getColor(cobalto);
  }
  .home-ico{
    margin : 22px 20px;
    color  : getColor(cobalto);
  }
}

.menuf{
  position    : fixed;
  left        : 0;
  bottom      : 0;
  height      : 60px;
  width       : getPorcentual(ten);
  text-align  : center;
  font-family : 'robotoregular';
  p{
    font-size   : 12px;
  }
  i{
    margin : 7px 0 5px 0;
  }
  .red-alert{
    height     : 60px;
    background : getColor(rojo);
    color      : getColor(snow);
    p{
      font-size  : 9px;
    }
    i{
      margin : 10px 0 10px 0;
    }
  }
  .normal-btn{
    height     : 50px;
    background : getColor(gris);
    margin-top : 10px;
    border-top : 1px solid getColor(cobalto);
    color      : getColor(cobalto);
  }
  .current{
    color      : getColor(gris);
    background : getColor(cobalto);
  }
}

.modal-emergency{
  width            : getPorcentual(ten);
  height           : getPorcentual(ten);
  background-color : rgba(255,255,255,0.7);
  position         : fixed;
  z-index          : 100;
  .cont{
    border           : 2px solid getColor(cielo);
    background-color : getColor(gris);
    width            : getPorcentual(nine);
    margin           : 0 auto;
    margin-top       : getPorcentual(one);
    min-height       : 400px;
    .close{
      top      : -11px;
      right    : -8px;
      float    : right;
      position : relative;
      color    : getColor(musgo);
    }
    .info{
      width       : getPorcentual(nine);
      margin      : 0 auto;
      font-family : $robotoregular;
      padding-top : 20px;
      h1{
        font-size : 25px;
      }
      textarea{
        width      : getPorcentual(ten);
        height     : 120px;
        max-width  : getPorcentual(ten);
        max-height : 120px;
        border     : 2px solid getColor(cielo);
        margin-top : 15px;
        font-size  : 15px;
        padding    : 10px;
      }
      .obteniendo{
        text-align : center;
        margin-top : 30px;
        i{
          color : getColor(cielo);
        }  
        p{
          margin-top : 15px; 
          color      : getColor(cobalto);
        }
      }
    }
  }
}

.enviar-btn{
  font-family: "robotoregular";
  width         : getPorcentual(ten);
  padding       : 10px;
  text-align    : center;
  border        : 2px solid getColor(rojo);
  border-radius : 8px;
  color         : getColor(rojo);
  margin-top    : 10px;
  i{
    margin-right : 5px;
  }
}
.llamar-agencia{
  font-family: "robotoregular";
  width         : getPorcentual(ten);
  padding       : 10px;
  text-align    : center;
  border        : 2px solid #21B356;
  border-radius : 8px;
  color         : #21B356;
  margin-top   : 10px;
  i{
    margin-right : 5px;
  }
  a{
    text-decoration: none;
    color         : #21B356;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

body{
  background-color:#fff;
}

p,div{
  font-size:20px;
}

.rover-container{
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  margin-bottom:50px;
  overflow: hidden;
}

.next-animation{
  left: -100%;
}

.previous-animation{
  right:-100%;
}
