.accesorio{
	height           : 100%;
	.img-cont{
		img{
			width         : 100%; 
			border-bottom : 2px solid getColor(cielo); 
		}
	}
	.info{
		padding  : 20px 20px 0 20px; 
		color    : getColor(cobalto); 
		p{
			font-family : $robotoregular;
		}
		.name{
			font-size : 35px; 
			color     : getColor(cielo);  
		}
		.code{
			margin-top : 5px; 
		}
		.desc{
			font-weight : bold; 
			margin-top  : 10px; 
		}
		.desc-p{
			margin-top : 5px; 
			font-size  : 15px;  
		}
		.btn-agendar{
          border        : solid 2px getColor(cielo);
          color         : getColor(cielo);
          width         : getPorcentual(nine);
          margin        : 40px auto 40px auto;
          padding       : 10px;
          border-radius : 8px;
          p{
            text-align : center;
            font-size  : 25px;
            color      : getColor(rojo);
          }
          i{
            margin-left : 10px;
          }
        }
	}
}

.perfi{
	.info{
		padding : 20px; 
	}
	p{
		color       : getColor(cobalto);
		font-size   : 25px;
		font-family : $robotoregular;
		margin-top  : 10px; 
	}
	input{
		border : 2px solid getColor(celeste);
		height : 40px;
		width  : 100%; 
		border-radius : 8px;
        font-size:20px;
        padding-left:10px;
	}
	.btn-agendar{
      border        : solid 2px getColor(rojo);
      color         : getColor(rojo);  
      width         : getPorcentual(nine);  
      margin        : 40px auto 40px auto; 
      padding       : 10px; 
      border-radius : 8px;
      p{
      	text-align : center; 
        font-size  : 25px; 
        color      : getColor(rojo);
      }
      i{
      	margin-left : 10px; 
      }
    }

}