// Colors array.
$colors :
  snow   #ffffff,
  night  #000000,
  celeste #c9dae4,
  gris #eeeeee,
  cobalto #5d6775,
  musgo #6e7c76
;

$font-sizes        :
  xx-small 0.5rem,
  x-small  0.75rem,
  small    1rem,
  medium   1.25rem,
  x-medium 1.5rem,
  large    1.75rem,
  x-large  2rem;


$porcentuals :
  one   10%,
  two   20%,
  three 30%,
  four  40%,
  six   60%,
  seven 70%,
  eight 80%,
  nine  90%,
  ten   100%
;

// Spacing sizes for padding and margins.
$spaces :
  xx-small 5px,
  x-small  10px,
  small    15px,
  medium   20px,
  large    25px,
  x-large  50px;

@font-face {
  font-family: 'helveticaneuebd';
  src: url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.eot');
  src: url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.woff') format('woff'),
  url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.svg#helveticaneuebd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneueroman';
  src: url('../fonts/helveticaneue/helveticaneueltstd-roman-webfont.eot');
  src: url('../fonts/helveticaneue/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue/helveticaneueltstd-roman-webfont.woff') format('woff'),
  url('../fonts/helveticaneue/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneue/helveticaneueltstd-roman-webfont.svg#helveticaneueroman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto/roboto-bold-webfont.eot');
  src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/roboto/roboto-italic-webfont.eot');
  src: url('../fonts/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-italic-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-italic-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto-light-webfont.eot');
  src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/roboto-medium-webfont.eot');
  src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomediumitalic';
  src: url('../fonts/roboto/roboto-mediumitalic-webfont.eot');
  src: url('../fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/roboto-regular-webfont.eot');
  src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-regular-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font configuration.
$helveticaneueroman      : 'helveticaneueroman';
$helveticaneuebd         : 'helveticaneuebds';
$robotobold              : 'robotobold';
$robotoitalic            : 'robotoitalic';
$robotomedium            : 'robotomedium';
$robotomediumitalic      : 'robotomediumitalic';
$robotoregular           : 'robotoregular';

$font-primary            : 'helveticaneueroman',sans-serif;