<div class="row">
  <div class="tatz-10">
    <div class="busqueda-box">
      <p class="busqueda-titulo">Partes y Accessorios</p>
      <input placeholder="Buscar" type="text" class="busqueda-campo" ng-model="searchText"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="tatz-10">
    <div class="cliente-box">
      <p class="cliente-nombre">{{nombre}}</p>
      <p class="cliente-auto">{{user.modelo}}</p>
      <p class="cliente-vin">VIN# {{user.vin}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="tatz-10">
    <div class="accesorio-box" ng-repeat="accesorio in accesorios.accesorios | filter:searchText" ng-click="goTo('/accesorio/{{accesorio.codigo}}')">
      <div class="row">
        <div class="tatz-4">
          <img ng-src="images/accesorios/{{accesorios.modelo}}/{{accesorio.img}}" width="150"/>
        </div>
        <div class="tatz-6">
          <p class="accesorio-titulo">{{accesorio.accesorio}}</p>
          <p class="accesorio-descripcion" ng-bind-html="accesorio.descripcion"></p>
          <p class="accesorio-descripcion">
            <span class="accesorio-referencia">Referencia:</span> {{accesorio.codigo}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>