<div class="row">
  <div class="tatz-10">
    <div class="busqueda-box">
      <p class="busqueda-titulo">Historial de mantenimiento</p>
      <input placeholder="Buscar" type="text" class="busqueda-campo" ng-model="searchText"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="tatz-10">
    <div class="cliente-box">
      <p class="cliente-nombre">{{nombre}}</p>
      <p class="cliente-auto">{{user.modelo}}</p>
      <p class="cliente-vin">VIN# {{user.vin}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="tatz-10">
    <div class="accesorio-box" ng-repeat="hist in historial | filter:searchText">
      <div class="row">
        <div class="pull-left tatz-5">
          <p>Fecha : {{hist.fecha}}</p>
        </div>
        <div class="pull-rigth tatz-5">
          <p>Kilometraje : {{hist.km}}</p>
        </div>
      </div>
      <span ng-repeat="list in hist.list">
        <p>{{list}}</p>
      </span>
    </div>
  </div>
</div>