<div class="index">
	<!-- <video videohandler class="videoBg">
		<source src="https://s3-us-west-1.amazonaws.com/rovercostarica/bg.mp4" type='video/mp4'/>
    <source src="https://s3-us-west-1.amazonaws.com/rovercostarica/bg.ogg" type='video/ogg'/>
	</video> -->
	<div class="content">
		<div class="row">
			<div class="logo">
				<img src="images/mainlogo.png" alt="main logo">
			</div>
		</div>
		<div class="row login">
			<div class="tatz-2">
				<img src="images/lock.svg" alt="" width="40">
			</div>
			<div class="tatz-8 left">
				<input type="text" class="vin" name="vin" placeholder="Número de VIN">
			</div>
		</div>
		<div class="row">
			<a href="#/home">
				<div class="btn">
					<p>Ingresar</p>
				</div>
			</a>
		</div>
		<div class="row contactar">
			<div class="tatz-10">
				<a href=""><p>Contactar a la agencia</p></a>
			</div>
		</div>
	</div>
</div>