<div class="menuf row">
	<div class="tatz-2 normal-btn accesorios" ng-click="goTo('/accesorios')">
    <i class="fa fa-tachometer"></i>
    <p>Accesorios</p>
  </div>
	<div class="tatz-2 normal-btn historial" ng-click="goTo('/historial')">
    <i class="fa fa-history"></i>
    <p>Historial</p>
  </div>
	<div class="tatz-2 red-alert" ng-click="openModal()">
		<i class="fa fa-flag-o"></i>
		<p>EMERGENCIA</p>
	</div>
	<div class="tatz-2 normal-btn perfil" ng-click="goTo('/perfil')">
    <i class="fa fa-user"></i>
    <p>Mi Perfil</p>
  </div>
	<div class="tatz-2 normal-btn near" ng-click="goTo('/near')">
    <i class="fa fa-map-marker"></i>
    <p>Cerca de mi</p>
  </div>
</div>

<div class="modal-emergency" ng-show="showEmer">
  <div class="cont">
    <i class="fa fa-times-circle fa-2x close" ng-click="openModal()"></i>
    <div class="info" ng-show="isReady">
      <h1>Emergencias Motores Britanicos</h1>
      <p>Su ubicación es: <span ng-click="goTo('/near')">{{ubicacion}}.</span></p>
      <textarea ng-model="coment">
      </textarea>
      <div class="enviar-btn" ng-click="sendMail()">
        <p><i class="fa fa-envelope-o"></i>Pedir Ayuda!</p>
      </div>
      <div class="llamar-agencia">
        <a href="tel:2257-4247"><p><i class="fa fa-phone"></i>Llamar a la agencia</p></a>
      </div>
    </div>
    <div class="info" ng-hide="isReady">
      <div class="obteniendo">
        <i class="{{icon}}"></i>
        <p>{{msj}}</p>
      </div>
    </div>
  </div>
</div>
