<div class="row">
  <div class="tatz-10">
    <div class="busqueda-box">
      <p class="busqueda-titulo">Contáctenos</p>
      <textarea placeholder="Comentarios" type="text" rows="10" class="comentarios-campo" ng-model="searchText"></textarea>
      <div class="enviar-btn">
        <p><i class="fa fa-envelope-o"></i>Enviar comentario</p>
      </div>
      <div class="llamar-agencia">
        <p><i class="fa fa-phone"></i><a href="tel:2257-4247">Llamar a la agencia</a></p>
      </div>
    </div>
  </div>
</div>
